* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
}
body, html {
    height: 100%;
    font-family: sans-serif;
    padding-top: 25%;
    cursor: none;
}

::selection {
    background:#fff;
    color: #000;
}

::-moz-selection {
    background:#fff;
    color: #000;
}

.navbar {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 3% 40px;
    z-index: 2;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #eee;
    cursor: none;
}


.navbar-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

.navbar-links li a:hover {
    opacity: 0.7;
}

.navbar-links li {
    position: relative;
}

.navbar-links li {
    position: relative;
}

.navbar-links li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    height: 1rem;
    border: 1px solid #fff;
}


.hero-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
}


.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.hero-overlay {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.hero-title {
    color: white;
    font-size: 4rem;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.hero-title {
    position: relative;
    overflow: hidden;
    color: transparent;
}

.hero-title .text {
    position: relative;
    z-index: 2;
    color: white;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.reveal-block {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    z-index: 1;
    width: 0%;
}


#hero-subtitle {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

#hero-subtitle.show {
    opacity: 1;
    transform: translateY(0);
}


.hero-overlay p {
    color: white;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.video-control {
    position: absolute;
    bottom: 13%;
    right: 20px;
    z-index: 3;
    width: 48px;
    height: 48px;
    opacity: 0.8;
    transition: opacity 0.3s ease;

}

.video-control:hover {
    opacity: 1;
}

.video-control img {
    width: 100%;
    height: auto;
    filter: invert(96%) sepia(97%) saturate(0%) hue-rotate(33deg) brightness(105%) contrast(103%);
}

a.button-wrap {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    transition: transform .3s cubic-bezier(.24,.45,.32,1);
    will-change: transform;
    position: relative;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.content-section {
    width: 100%;
    display: grid;
    background-color: #fff;
    border: 0.5px solid #eee;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
    align-content: space-around;
    position: relative;
    z-index: 2;
}

.content-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}


.content-section:hover {
    background-color: #111;
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.content-inner {
    display: grid;
    justify-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease;
}

.content-section:hover .content-inner {
    color: #fff;
}

.content-inner h2,
.content-inner h3 {
    transition: color 0.3s ease;
    text-align: center;
}

.content-section:hover h2,
.content-section:hover h3 {
    color: #fff;
}

.content-inner a {
    text-decoration: none;
    display: block;
    color: inherit;
}

.content-inner a:hover {
    text-decoration: none;
}

.about-link {
    position: relative;
    display: inline-block;
}

.horizontal-flex {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.logo {
    width: 80px;
    height: auto;
    filter: invert(1%) sepia(2%) saturate(21%) hue-rotate(314deg) brightness(109%) contrast(82%);
}

.content-section:hover .logo,
.content-section:hover .brand_logo {
    filter: invert(96%) sepia(97%) saturate(0%) hue-rotate(33deg) brightness(105%) contrast(103%);
}

.brand_logo {
    width: 80px;
    height: auto;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    transition: transform 0.1s ease-out;
}

