apiVersion: apps/v1
kind: Deployment
metadata:
  name: unipro-site
spec:
  selector:
    matchLabels:
      app: unipro-site
  replicas: 3
  template:
    metadata:
      labels:
        app: unipro-site
    spec:
      containers:
        - name: app
          image: registry.uniproject.jp/hp-infra/unipro-site:2.1.0
          ports:
            - containerPort: 3000
              name: default-port
          resources:
            limits:
              memory: "2Gi"
              cpu: "1000m"
            requests:
              memory: "1Gi"
              cpu: "500m"
          readinessProbe:
            initialDelaySeconds: 300
            periodSeconds: 20
            httpGet:
              path: /
              port: default-port
              httpHeaders:
                - name: X-k8s-Header
                  value: readiness
      imagePullSecrets:
        - name: harbor-registry-secret
